@import "./../../assets/scss/variables";

// Shapes

.small-triangle,
.big-triangle,
.circle {
  position: absolute;
  left: 0;
  z-index: -1;
}

.small-triangle-right,
.big-triangle-right,
.circle-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.small-triangle {
  margin-top: 10rem;
  margin-left: 5rem;
}

.big-triangle {
  margin-top: 15rem;
  margin-left: 4rem;
}

.circle {
  margin-top: 18rem;
  margin-left: 8rem;
}

.small-triangle-right {
  margin-top: 20rem;
  margin-right: 15rem;
}

.big-triangle-right {
  margin-top: 25rem;
  margin-right: 6rem;
}

.circle-right {
  margin-top: 30rem;
  margin-right: 12rem;
}

// Calculator
.calc-wrapper {
  margin: auto;
  width: 50vw;
  height: 96vh;
  background-color: $lightBlue;
  z-index: 1;
  padding: 1rem;
}

@media (max-width: 500px) {
  .calc-wrapper {
    width: 100%;
  }
}

.user-input {
  width: 90%;
  margin: auto;
  padding-top: 8rem;
}

.user-input input:focus {
  outline: none;
}

@media (max-width: 500px) {
  .calc-wrapper {
    width: auto;
  }
}

.history-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
}

.text-alert {
  color: #ce2a2a;
  margin-top: 0.5rem;
}

.input-form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.result-text {
  text-decoration: underline;
  margin-right: 1rem;
}

.result {
  background-color: $yellowAccent;
  padding: 0.5rem;
  border-radius: 5px;
}

.no-data {
  font-size: 1.2rem;
  color: $grayText;
  opacity: 0.5;
  text-align: center;
  margin-top: 5rem;
}

.result-view {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
}

.clear {
  padding: 0.5rem 1rem;
  color: $white;
  border-radius: 8px;
  background-color: $darkBlue;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.user-input input {
  height: 1.7rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 6px;
  padding-left: 0.5rem;
}

.history-view {
  margin: 1rem auto 0;
  background-color: $white;
  height: 50vh;
  border-radius: 6px;
  padding: 1rem;
  overflow-y: scroll;
}

.past-input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hwb(0 50% 50% / 0.3);
}
