@import "./../../assets/scss/variables";

.login-wrapper {
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  color: $grayText;
}

.login {
  background-color: $lightBlue;
  width: 35rem;
  height: 100vh;
  z-index: 10;
}

@media (min-width: 2000px) {
  .login {
    width: 50%;
  }
}

.logo {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline;
}

.login-form {
  margin-top: 40%;
  margin-left: 5rem;
}

.login-input {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 1rem;
}

.login-input input {
  height: 1.7rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 6px;
  padding-left: 0.5rem;
}

.login-input input:focus {
  outline: none;
}

.text-alert {
  color: #ce2a2a;
  margin-top: 0.5rem;
}

.login-button {
  margin-top: 2rem;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 8%);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 20px;
  color: $grayText;
  border-radius: 8px;
  background-color: $yellowAccent;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover {
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%);
}

.login-button:disabled {
  cursor: auto;
}

.calc-image {
  position: absolute;
  height: 100vh;
  right: 0;
  z-index: -10;
}
